@import "../../../data/styles.css";

.single-chart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-img {
	width: 30px;
    height: 30px;
	overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.circle-img img {
	width: 100%;
}

.circular-chart {
    display: block; 
    margin: 10px auto; 
    max-width: 80%; 
    max-height: 250px; 
}

.circle-bg { 
    fill: none; 
    stroke-width: 4.5; 
    stroke: #eee; 
}

.circle { 
    fill: none; 
    stroke-width: 3.5; 
    stroke-linecap: round; 
    
}

.circular-chart.orange .circle { 
    stroke: var(--primary-color); 
}

.percentage { 
    fill: #666; 
    font-size: 0px; 
    font-weight: 700;
    text-anchor: middle; 
    display: flex;
    justify-content: center;
}